Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins
Content/WitchHag
Content/BattleWitch
Content/UltraDynamicSky

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# ignore all related to .idea
.idea

.codebuddy/.gitignore
.idea/.idea.Aura.dir/.idea/workspace.xml
