Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/CauldronFX_VDB
Plugins/*
!/Plugins/AndresD3v_InventorySystem
!/Plugins/AndresD3v_InteractionSystem
!/Plugins/AndresD3v_UIManagerSystem
!/Plugins/AsyncMessageSystem
Content/WitchHag
Content/BattleWitch
Content/UltraDynamicSky
Content/MagicCircleVFX
Content/PIP_Herbals_Potions
Content/fullscreen_flat_gui
Content/Village
Content/LootDrop_VFX
Content/Fab
guides/*
repomix-output/*

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# ignore all related to .idea
.idea

.codebuddy/.gitignore
.idea/.idea.Aura.dir/.idea/workspace.xml

Source/WitchPT/Public/AbilitySystem/Cauldron/GA_CauldronPlacementPreview.h

Source/WitchPT/Private/AbilitySystem/Cauldron/GA_CauldronPlace.cpp

Source/WitchPT/Private/AbilitySystem/Cauldron/GA_CauldronPlacementPreview.cpp

Source/WitchPT/Public/AbilitySystem/Cauldron/GA_CauldronPlace.h
